.right-content__messages__box
 .right-content__messages__box__username
  %h4 #{username}
 .right-content__messages__box__time
  %p #{time}
 .right-content__messages__box__content
  %p #{message}







