%header
#contents
 //左のメニュー
 .left-content
  //左メニューヘッダー
  .left-content__header
   .left-content__content-box
    %h3.left-content__username
     = current_user.name
    %ul.left-content__header-list
     %li.left-content__header-list__list
      = link_to new_group_path do
       %i.fa.fa-edit.font-color
     %li.left-content__header-list__list
      = link_to edit_user_path(current_user) do
       %i.fa.fa-cog.font-color
  //グループ一覧
  .left-content__group-index
   .left-content__content-box
    .left-content__group-index__box
     - current_user.groups.each do |group|
      =link_to group_messages_path(group.id) do
       = render partial:"messages/groups", locals:{group:group}

