* {
  box-sizing: border-box;
}


header{
  background-color: #38AEF0;
  height:17px;
  display: none;
}

h5 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
  }

#contents{
   height: 100vh;
}


